
/*CSS til nav */
nav{
  margin-top: 2%;
  margin-bottom:5%;
  }

nav h2{
  text-align: center;
  font-size: 28px;
  margin-bottom: 2%
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: WhiteSmoke;
  }

li {
  float: left;
  }

li button, li a, .drop {
  display: inline-block;
  text-align: center;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
  font-family: inherit;
  border: none;
  background-color: WhiteSmoke;
  }

li button:hover,li a:hover, .dropdown:hover .drop {
  background-color: lightgrey;
  }

.dropdown-innhold {
  display: none;
  position: absolute;
  background-color: WhiteSmoke;
  }

.dropdown-innhold button {
  text-decoration: none;
  display: block;
  text-align: left;
  }

.dropdown-innhold button:hover {
  background-color: lightgrey;
  }

.dropdown:hover .dropdown-innhold {
  display: block;
  }


/*CSS til header */
header{
  background-image: url("bilder/bildeforside.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  }

header h1 {
  color: white;
  font-family: inherit;
  font-size: 55px;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 12%;
  text-shadow: 2 2 2px black;
  }

.finnTur{
  text-align: center;
  width: 100%;
  padding: 15px;;
  font-size: 26px;
  }

.forsidebilde{
  width: 100%;
  }


/*CSS til main*/
.gridhovedside{
  display: grid;
  grid-template-columns: 1fr 3fr;
  }

.sidepanel{
  margin-left: 2%;
  margin-top: 4%;
  background-color: WhiteSmoke;
  padding-left: 4%;
  padding-bottom: 3%;
  }

.sidepanel h1{
  font-size: 25px;
  color: darkgreen;
  }

.sidepanel p{
  font-size: 21px;
  color: darkgreen;
  }

.sidepanel button{
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: white;
  }

.sidepanel button:hover{
  border: 3px solid darkgreen;
  }

.fjernSortering{
  font-size: 16px;
  border: 2px solid darkgreen;
  }

.fjernSortering:hover{
  background-color: darkolivegreen;
  color: white;
  }

#hovedgrid{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
  }

.gridcontainer a{
  text-decoration: none;
  color: black;
  }

#hovedgrid article:hover{
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 5px 5px lightgrey;
  }


/*CSS til turDetaljer */
#turInfo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }

.generellTekst :nth-child(odd){
  background-color: WhiteSmoke;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  }

.spesiellInfo :nth-child(odd){
  background-color: WhiteSmoke;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-right: 10%;
  }

.detaljer{
  margin-left: 5%;
  margin-right: 5%;
  }

.informerendetekst{
  margin-top: 40px;
  margin-bottom: 50px;
  }

.slett{
  margin-left: 94%;
  margin-bottom: 20px;
  font-size: 16px;
  border: 3px solid red;
  background-color: whitesmoke;
  }

/*CSS til registrerNy*/
.bodyNyRegistrer{
  background: url("bilder/tur.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  }

.bodyNyRegistrer a{
  font-size: 22px;
  color: white;
  margin-left: 1%;
  background-color: black;
  padding: 4px;
  }

#skjema{
  margin-top: 20%;
  text-align: center;
  }

#skjema input{
  font-size: 25px;
  padding: 4px;
  margin: 2px;
  }

#skjema button{
  font-size: 25px;
  padding: 4px;
  }



/*CSS til Responsiv*/
@media (max-width: 600px){
  #hovedgrid{
    grid-template-columns: 1fr;
    }
  header h1 {
    font-size: 35px;
    }
  }
