nav{
  text-align: center;
  max-width: 1500px;
  margin: auto;
  margin-top: 4px;
  }

.snareveier{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  position: relative;
  }

  .dropdown{
    position: relative;
  }

.snareveier div{
  padding: 5px;
  }

.snareveier img{
  width: 50px;
  height: 40px;
  }

#navigasjon p{
  font-size: 22px;
  }

a{color:black;
  text-decoration: none;
  }

.dropdown-innhold{
  display:none;
  position: absolute;
  z-index: 1;
  background-color: white;
  left:50%;
  transform: translateX(-50%);
  }

.snareveier:hover .dropdown-innhold{
  display:block;
  }

header{
  text-align: center;
  }

header img{
  max-width: 90%;
  }

.info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  }

.info p{
  font-size: 22px;
  color: dimgrey;
  }


article{
  margin-bottom: 40px;
  }

main img{
  height: 200px;
  }

main p{
  font-size: 20px;
  color: darkslategrey;
  }

.sidepanel{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: minmax(100px, auto);
  }

#klesgrid{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  }


footer{
  background-color: WhiteSmoke;
  text-align: center;
  max-width: 1450px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  }

footer h1{
  font-size: 30px;
  }

footer img{
  height: 70px;
  width: 70px;
  }

.kontaktinfo{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  }


  @media (max-width: 1100px) {
    #klesgrid{
      grid-template-columns: 1fr 1fr;
      }
    }
  @media (max-width: 600px) {
    #klesgrid{
      grid-template-columns: 1fr;
      }
    }
